$primary: rgb(83, 190, 243);

$bright-white: #f9f9fc;
$dim-white: #d1d1d2;

// $app-background-color: #0a0b18;
$app-background-color: #3b404c;
// $menu-background-color: #2c2c34;
$menu-background-color: #23252d;
$box-background-color: #23252d;
// $box-background-color: #3b404c;

@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  // background-color: $app-background-color;
  color: $dim-white;
}

body {
  background-color: #3b404c;
  min-width: 1000px;
}

.app {
  background-color: $app-background-color;
}

.box {
  background-color: $box-background-color;

  margin: 20px;
  padding: 20px;

  // height: 5000px;

  border-radius: 4px;

  .cardGroup {
    // width: 20vw;
    // height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.card {
  width: 20vw !important;
}

#docPhoto img {
  margin: 1rem;
}

.app-background {
  background-color: $app-background-color;
}

.menu {
  height: 5vh;
}

.content {
  // height: 99vh;
}

.main-logo {
  // margin-top: 10vh;
  // height: 70vh;
  // width: 40vw;
  height: 37rem;
  width: 40rem;
}

.home {
  @include flexCenter();
  // height: 90vh;
  height: 95vh;
  background-image: url('../icons/bluebckgd.png');
  // background-size: 100% 99vh;
  background-size: cover;

  // margin: 20px;
  padding: 20px;

  // height: 100%;

  p {
    margin: 2rem;
    color: $bright-white;
    font-size: 1.5rem;
  }
}

.title {
  color: $bright-white;
}

.code {
  color: $primary;
}

.code-block {
  margin-left: 10px;
}

// .box-background {
// }

footer {
  @include flexCenter();

  background-color: $box-background-color;

  height: 12rem;

  div {
    font-size: 12px;
  }

  h3 {
    margin-left: 10px;
  }
}

.footer-title {
  @include flexCenter();
  flex-direction: row;
  margin: 1rem;

  img {
    position: relative;
    margin-top: 25px;
  }
}

.logos {
  @include flexCenter();

  background-color: $box-background-color;
  flex-direction: row;

  div {
    margin: 15px;
  }
}

#twitter-logo {
  margin-left: 10px;
}

#medium-logo {
  margin-left: 0px;
}

// .token {

//   keywords {
//   color: rgb(197, 165, 197);
//   }

//   string {
//     color: rgb(141, 200, 145);
//   }

//   symbols {
//     color: orange;
//   }

//   comments {
//     color: rgb(178, 178, 178);
//   }
// }

#codeBox {
  background-color: black;
}
.token.keywords {
  color: rgb(0, 191, 249);
}
.token.string {
  color: rgb(188, 240, 192);
}
.token.symbols {
  color: rgb(247, 236, 181);
}
.token.comments {
  color: rgb(153, 153, 153);
}
.token.equation {
  color: rgb(3, 178, 231);
}
.token.names {
  color: rgb(215, 219, 224);
}
.token.func {
  color: rgb(135, 175, 244);
}
.token.keywordReq {
  color: rgb(134, 174, 242);
}
.token.key {
  color: rgb(188, 240, 192);
}
