@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

// Variables
$bgd: #222;
$primary: rgb(158, 72, 216);
$primary-hover: rgb(136, 25, 211);

@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  // @include flexCenter();
  // flex-direction: row;
  // width: 60%;
}

#main-container {
  @include flexCenter();
  // justify-content: center;
  // align-items: center;

  height: 97%;
  width: 90%;
  border: none;
  border-radius: 5px;
  background-color: $bgd;
}

#msg-container {
  @include flexCenter();
  justify-content: flex-end;
  align-items: flex-start;

  height: 80%;
  width: 95%;
}

h1 {
  color: $primary;
}

#message-form {
  width: 95%;
  height: 10%;
}

input {
  border: none;
  border-radius: 4px;
}

p {
  color: white;
}

#whos-typing {
  font-size: 8px;
  height: 8px;
}

#msg {
  width: 70%;
  height: 100%;
}

#send-btn {
  width: 30%;
  height: 100%;

  background-color: $primary;
  &:hover {
    // background-color: $primary-hover;
  }

  color: white;
}

#login-container {
  @include flexCenter();

  background-color: $bgd;
  border-radius: 5px;

  height: 80%;
  width: 90%;
}

#login-form {
  @include flexCenter();
  // justify-content: center;
  align-items: start;
}

#title {
  font-size: 30px;
}

#create-act-btn {
  background-color: $primary;
  color: white;
  margin-right: 10px;
}

#sign-in-btn {
  background-color: $primary;
  color: white;
}

label {
  display: inline;
  color: white;
}

span {
  color: $primary;
}

.message {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}
