$bright-white: #f9f9fc;
$dim-white: #d1d1d2;

$app-background-color: #0a0b18;
$menu-background-color: #2c2c34;
$box-background-color: #23252d;

* {
  background-color: $app-background-color;
  color: lightblue;
}
