@import '~bootstrap/scss/bootstrap';

// Variables
$primary: rgb(83, 190, 243);
$primary-dark: rgb(36, 171, 238);
$secondary: #222;
$white: rgb(240, 240, 240);
$dark: rgb(36, 36, 36);

$app-background-color: #3b404c;
$box-background-color: #23252d;

$bright-white: #f9f9fc;
$dim-white: #d1d1d2;

// Similar to a "function", centers elements
@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app {
  background-color: $app-background-color;
  height: 100%;
  width: 100%;
}

.title {
  @include flexCenter();
  background-color: $box-background-color;
  height: 120px;
  margin-bottom: 30px;
  // border-radius: 0px 0px 5px 5px;
  font-size: 50px;
  box-shadow: 8px 5px 15px 2px rgba(34, 34, 34, 0.269);

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    color: $bright-white;
  }

  h2 {
    position: absolute;
    left: 0;
    margin-left: 25px;

    color: $primary;
  }

  img {
    position: absolute;
    left: 0;
    margin-left: 25px;
    width: 100px;
    height: auto;
  }
}

.dashTitle {
  background-color: orange;
  border: 10px solid blueviolet;
}

.metrics-container {
  // @include flexCenter();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  display: flex;
  margin-left: 10px;
  flex-direction: row;
  justify-content: left;
}

.mainDashboard {
  margin-top: 120px;
  margin-bottom: -120px;
  padding-bottom: 2rem;
  height: 100%;
  width: 100%;
}

.dashboard {
  margin-top: 0.5rem;
  // display: flex;
  height: 100%;
  width: 100%;
  // justify-content: center;

  // margin-left: 7px;

  // @include flexCenter();
  // flex-direction: row;

  // display: flex;
  // flex-direction: row;

  // display: flex;
  // // flex: 1;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // grid-area: db;
  // background-color: cornflowerblue;
  // border: orange solid 10px;
}
.metric-heading {
  display: flex;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  color: $bright-white;
  font-weight: normal;
  // justify-content: flex-start;
  // align-self: center;
}

.producer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.1rem;
}

.consumer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.1rem;
  // justify-content: center;
}

// .dashboard-container {
//   width: 100%;
// }

.dashForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .system-data-container {
//   display: flex;
//   align-items: center;
// }

.system-data {
  @include flexCenter();
  justify-content: normal;
  align-items: flex-start;
  box-shadow: 8px 5px 15px 2px rgba(34, 34, 34, 0.269);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(36, 171, 238);

  height: 550px;
  width: 310px;
  background: linear-gradient(to top, rgb(28, 28, 28), 40%, rgb(36, 171, 238));

  margin: 10px;
  padding: 10px 20px;

  // background-color: $box-background-color;

  // border: 1px solid $box-background-color;
  border-radius: 15px;
}

.metrics {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-spacing: 0rem;
  border-color: rgba(0, 0, 0, 0.5);
  color: $dim-white;
  font-size: 20px;
  margin: -0.5px;
  width: 275px;
}

.metric-title {
  // color: $primary;
  color: $dim-white;
  font-size: 24px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 18px;
}

#firstMetric {
  border-radius: 5px 5px 0px 0px;
}

// .graph {
//   border: 10 px solid black;
//   background-color: darkkhaki;
// }

// .stopLight {
//   border: 10 px solid black;
//   background-color: forestgreen;
// }

.chart {
  background-color: $box-background-color;
  padding: 5px;
  padding-top: 10px;
  padding-left: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: none;
  border-top-right-radius: none;
  height: 300px;
  width: 275px;
  margin-top: 10px;
}
