@import '~bootstrap/scss/bootstrap';

// Variables
$primary: rgb(83, 190, 243);
$primary-dark: rgb(36, 171, 238);
$secondary: #222;
$white: rgb(240, 240, 240);
$dark: rgb(36, 36, 36);

$app-background-color: #3b404c;
$box-background-color: #23252d;

$bright-white: #f9f9fc;
$dim-white: #d1d1d2;

// Similar to a "function", centers elements
@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  background-color: $app-background-color;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
}

// * {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
// }

.app {
  position: relative;
  margin-bottom: 120px;
  background-color: $app-background-color;
  // height: 100%;
  // width: 100%;
}

.title {
  @include flexCenter();
  z-index: 1;
  // font-family: 'Roboto', sans-serif;
  background-color: $box-background-color;
  height: 120px;
  // margin-bottom: 30px;
  // border-radius: 0px 0px 5px 5px;
  font-size: 50px;
  box-shadow: 8px 5px 15px 2px rgba(34, 34, 34, 0.269);

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    color: $bright-white;
  }

  h2 {
    position: absolute;
    left: 0;
    margin-left: 25px;

    color: $primary;
  }

  img {
    position: absolute;
    left: 0;
    margin-left: 25px;
    width: 100px;
    height: auto;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: poppins;
  background-color: $box-background-color;
  height: 60px;

  font-size: 50px;
  box-shadow: 8px 5px 15px 2px rgba(34, 34, 34, 0.269);

  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

  h1 {
    color: $bright-white;
  }
}

.container {
  position: relative;
  top: 120px;
  bottom: -120px;

  display: flex;
  flex-direction: row;

  margin: 0;
  border: none;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 120px;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 5px 15px 2px rgba(34, 34, 34, 0.269);
  background-color: #25282f;
  width: 125px;
}

.nav-item {
  border: none;
  background-color: #25282f;
  padding: 12px;
}

.nav-item:hover {
  background-color: $primary;
  transition: 0.5s;
  cursor: pointer;
}

.dboard {
  text-decoration: none;
  color: $bright-white;
}

.dboard:hover {
  background-color: $primary;
  transition: 0.5s;
  cursor: pointer;
}

#dboard-btn {
  background-color: #58585c;
}

#dboard-btn:hover {
  background-color: rgb(83, 190, 243);
  transition: 0.5s;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: $dim-white;
}

.link:hover {
  text-decoration: none;
  color: $dim-white;
}

.dashTitle {
  background-color: orange;
  border: 10px solid blueviolet;
}

.metrics-container {
  // @include flexCenter();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  display: flex;
  margin-left: 10px;
  flex-direction: row;
  justify-content: left;

  #firstMetric {
    border-radius: 5px 5px 0px 0px;
  }
}

.mainDashboard {
  justify-content: center;
  align-items: center;
  margin-left: 125px;
  padding-bottom: 2rem;
  height: 100%;
  width: 100%;
}

.dashboard {
  // margin-top: 0.5rem;
  // display: flex;
  height: 100%;
  width: 100%;
  // justify-content: center;

  // margin-left: 7px;

  // @include flexCenter();
  // flex-direction: row;

  // display: flex;
  // flex-direction: row;

  // display: flex;
  // // flex: 1;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // grid-area: db;
  // background-color: cornflowerblue;
  // border: orange solid 10px;
}

// #consumer-heading-container {
//   width: 250px;
//   // padding: 10px;
// }

.metric-heading {
  border: none;
  background-color: rgb(83, 190, 243);
  border-spacing: 0rem;
  border-radius: 50px;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  //   'Lucida Sans', Arial, sans-serif;
  display: flex;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 30px;
  color: $bright-white;
  font-weight: normal;
  // justify-content: flex-start;
  // align-self: center;
  padding: 15px;
}

.heading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.1rem;

  padding: 10px;
  border-radius: 50px;
}

#block {
  width: 125px;
  height: 3000px;
  box-shadow: 8px 5px 15px 2px rgba(34, 34, 34, 0.269);
  background-color: #25282f;
}

.header {
  padding: 10px;
  border-radius: 50px;
}

.dashForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .system-data-container {
//   display: flex;
//   align-items: center;
// }

.system-data {
  @include flexCenter();
  justify-content: normal;
  align-items: flex-start;
  box-shadow: 8px 5px 15px 2px rgba(34, 34, 34, 0.269);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(36, 171, 238);

  height: 550px;
  width: 310px;
  background: linear-gradient(to top, rgb(28, 28, 28), 40%, rgb(36, 171, 238));

  margin: 10px;
  padding: 10px 20px;

  // background-color: $box-background-color;

  // border: 1px solid $box-background-color;
  border-radius: 15px;
}

.metrics {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-spacing: 0rem;
  border-color: rgba(0, 0, 0, 0.5);
  color: $dim-white;
  font-size: 20px;
  margin: -0.5px;
  width: 275px;
}

.metric-title {
  // color: $primary;
  color: $dim-white;
  font-size: 24px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 18px;
}

// .graph {
//   border: 10 px solid black;
//   background-color: darkkhaki;
// }

// .stopLight {
//   border: 10 px solid black;
//   background-color: forestgreen;
// }

.chart {
  background-color: $box-background-color;
  padding: 5px;
  padding-top: 10px;
  padding-left: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: none;
  border-top-right-radius: none;
  height: 300px;
  width: 275px;
  margin-top: 10px;
}
