@import '~bootstrap/scss/bootstrap';

// Variables
$primary: rgb(0, 195, 255);
$secondary: #222;
$white: rgb(240, 240, 240);
$dark: rgb(36, 36, 36);

// Similar to a "function", centers elements
@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  // background-color: cadetblue;
}

.app {
  background-color: $white;
}

.title {
  @include flexCenter();
  background-color: $dark;

  height: 80px;
  margin-bottom: 30px;
  border-radius: 0px 0px 5px 5px;

  h1 {
    color: $white;

    font-size: 50px;
  }

  h2 {
    position: absolute;
    left: 0;
    margin-left: 25px;

    font-size: 40px;
    color: $primary;
  }
}

.dashTitle {
  background-color: orange;
  border: 10px solid blueviolet;
}

.metrics-container {
  display: flex;
  flex-direction: row;
}

.dashboard {
  height: 100%;
  width: 100%;

  // @include flexCenter();
  // flex-direction: row;

  // display: flex;
  // flex-direction: row;

  // display: flex;
  // // flex: 1;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // grid-area: db;
  // background-color: cornflowerblue;
  // border: orange solid 10px;
  .metric-heading {
    margin-left: 10px;
  }
}

.dashboard-container {
  width: 100%;
}

.dashForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .system-data-container {
//   display: flex;
//   align-items: center;
// }

.system-data {
  @include flexCenter();
  justify-content: normal;
  align-items: flex-start;

  height: 550px;
  width: 315px;

  margin: 10px;
  padding: 10px 20px;

  background-color: $dark;

  border: 1px solid $dark;
  border-radius: 15px;
}

.metrics {
  color: white;
  font-size: 24px;
}

.metric-title {
  color: $primary;
  font-size: 30px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 18px;
}

// .graph {
//   border: 10 px solid black;
//   background-color: darkkhaki;
// }

// .stopLight {
//   border: 10 px solid black;
//   background-color: forestgreen;
// }

.chart {
  background-color: $white;

  padding: 5px;
  padding-top: 10px;
  padding-left: 0px;
  border-radius: 5px;

  height: 300px;
  width: 275px;
}
